/* LIGHT THEME SETTINGS */


/* LIGHT THEME SETTINGS - END*/


/* DARK THEME SETTINGS */
.dark-theme {
  background-color: #343a40;
  color: #fff;
  box-shadow: rgb(167, 16, 16);  
}

.dark-theme .modal-content {
  background-color: #343a40;
  color: #fff;
  border: none;
}

.dark-theme input,
.dark-theme textarea {
  background-color: #343a40;
  color: #fff;
}

.dark-theme .form-control:focus {
  background-color: rgba(0, 0, 0, 0.644);
  color: #fff;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}
/* DARK THEME SETTINGS - END*/

.root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}


